.lkt-field-date {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--text-color);
}

.lkt-field-date input {
    height: var(--input-height);
    padding-left: 35px;
    padding-right: 35px;
}

.lkt-field-date input {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    outline: 0;
    border: var(--field-border-width) var(--field-border-style) var(--field-border-color);
    box-shadow: var(--field-shadow);
    padding: var(--field-padding);
    transition: var(--field-transition);
    font-size: var(--field-font-size);
    border-radius: var(--field-border-radius);
    background-color: var(--field-background-color);
    padding-left: 35px;
}

.lkt-field-date label {
    display: block;
    font-weight: var(--field-label-font-weight);
    font-size: var(--field-label-font-size);
    line-height: var(--field-label-line-height);
    margin: var(--field-label-margin);
}

.lkt-field--alert.lkt-field-date input {
    background: var(--alert-contrast);
    border-color: var(--alert-color);
}

.lkt-field--alert.lkt-field-date:hover input {
    background: var(--alert-contrast);
    border-color: var(--alert-color);
}

.lkt-field--danger.lkt-field-date input {
    background: var(--danger-contrast);
    border-color: var(--danger-color);
}

.lkt-field--danger.lkt-field-date:hover input {
    background: var(--danger-contrast);
    border-color: var(--danger-color);
}

.lkt-field--info.lkt-field-date input {
    background: var(--info-contrast);
    border-color: var(--info-color);
}

.lkt-field--info.lkt-field-date:hover input {
    background: var(--info-contrast);
    border-color: var(--info-color);
}

.lkt-field--warning.lkt-field-date input {
    background: var(--warning-contrast);
    border-color: var(--warning-color);
}

.lkt-field--warning.lkt-field-date:hover input {
    background: var(--warning-contrast);
    border-color: var(--warning-color);
}

.lkt-field--target.lkt-field-date input {
    background: var(--target-contrast);
    border-color: var(--target-color);
}

.lkt-field--target.lkt-field-date:hover input {
    background: var(--target-contrast);
    border-color: var(--target-color);
}


.lkt-field-date input:focus {
    outline: 0;
    border: var(--field-border-width) var(--field-border-style) var(--focus-color);
    box-shadow: 0 0 0 2px var(--focus-color);
}

.lkt-field-date input[disabled] {
    box-shadow: none;
    border: var(--field-border-width) var(--field-border-style) var(--disabled-color);
    background-color: var(--disabled-color) !important;
}

.lkt-field-date input[readonly] {
    border: none;
    box-shadow: none;
    padding-left: 25px;
}

.lkt-field-date input[readonly] + div .dp__input_icon {
    padding: 0;
    cursor: default;
}